<!DOCTYPE html>
<html>
  <head>
    <title>Msger</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Msger</a>
            <ul class="nav">
              <li>
                <%= current_user ? link_to('Logout', destroy_user_session_path, :method => :delete, :class => "link") : link_to('Login', new_user_session_path, :class => 'link') %>
              </li>
              <% if(current_user.nil?) %>
              <li>
                <%= link_to('Sign Up', new_user_registration_path) %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
      </div>
      <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
          <div class="alert-message <%= flash_class(level) %>">
            <a class="close" href="#">×</a>
            <%= content_tag :p, flash[level] %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
